body
  font-family $site-font-family
  font-size $site-font-size
  line-height $site-line-height
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased

h1, h2, h3
  margin .67em 0

h1
  font-size 48px

a
  color $color-1
  text-decoration none
  &:hover
    text-decoration underline

a, input, button
  &:focus
    outline 0

nav ul
  list-style none
  margin 0
  padding 0
