// Grid system
$grid-columns = 12
$grid-max-width = 960px
$grid-min-width = 960px
$grid-gutter-width = 3%

// Screens
$lg = 1280px
$md = 1024px
$sm = 600px

// Typography
$font-face-name = "Lato"

$font-family = $font-face-name, Arial, sans-serif
$font-h1-size = 60px
$font-h2-size = 48px
$font-h3-size = 18px
$text-size = 16px
$small-size = 14px
$line-height = 1.2

// Margins
$large-margin = 40px
$small-margin = 20px

// Colors
$gray-soft = #eeeded
$gray-light = #cbcbcb
$gray = #444
$gray-dark = #101010

$white = #fff
$blue = #3a579d

// Theme
$bg-color-1 = $white
$bg-color-2 = $gray-dark
$bg-color-3 = $blue

$border-color-1 = $gray-light
$border-color-2 = $gray-dark

$text-color-1 = $gray-dark
$text-color-2 = $white
$text-color-3 = $blue
$text-color-4 = $gray-light
