// Grid system
$grid-max-width = 80%
$grid-min-width = 50%
$grid-columns = 12
$grid-gutter-width = 1%

// Typography
$site-font-family = "Lato", Helvetica, Arial, sans-serif
$site-line-height = 1.2

$h1-font-size = 60px;
$h2-font-size = 48px;
$base-font-size = 18px;
$small-font-size = 12px;

// Colors
$white = #eeeded
$blue = #3A579d
$gray-dark = #101010
$gray-ligth = #cbcbcb
$gray = #444

// Theme
$color-1 = $blue
$color-2 = $gray-dark
$color-3 = $white
$color-4 = $gray-ligth
$color-5 = $gray
