<div class="mod-indowindow">
  <a href="#close" class="mod-indowindow-close close">x</a>
  <div class="mod-indowindow-content">
    <h2>{{content.data.name}}</h2>
    <div class="value"><strong>{{content.data.value}}</strong>/100</div>
    <a href="/district/{{content.data.id}}" class="more-info">More info</a>
  </div>
</div>
