.mod-nav
  ul
    display flex
    list-style none
    margin 0
    padding 0

  li
    margin-right 20px

  a
    display block
    color $color-3
    font-size 12px
    text-transform uppercase

  .map-page &
    position absolute
    left 11%
    bottom 30px
    z-index 1000
