header.layout-header
  .wrap
    .row
      .grid-12
        img.brand(src="/app/images/logo-citizen.png", width="174", heigth="30")

        nav.mod-nav
          ul
            //- li:a= __('compare')
            li: a(href="/about-the-project")= __('about')
            //- li: a(href="#share")= __('share')
